<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.storyworkshop.module.interact.mapper.LikeMapper">
    <insert id="insert" parameterType="com.example.storyworkshop.module.interact.entity.LikeRecord">INSERT INTO like_record (user_id, story_id) VALUES (#{userId},#{storyId})</insert>
    <delete id="delete">DELETE FROM like_record WHERE user_id=#{userId} AND story_id=#{storyId}</delete>
    <select id="select" resultType="com.example.storyworkshop.module.interact.entity.LikeRecord">SELECT like_id,user_id,story_id,create_time FROM like_record WHERE user_id=#{userId} AND story_id=#{storyId} LIMIT 1</select>
</mapper>
